.grid {
	width: 620px;
	height: 620px;
	display: flex;
	flex-wrap: wrap ;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	align-items: center ;
	background-image: url("mole2.gif");
	background-size: 200px 200px; 
}
