.grid {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  background-color: black;
}

.grid div {
  width: 60px;
  height: 60px;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: red;
}
